<%= form_with(model: paciente, local: true) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class= "col-md-4">
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :paciente_nome %>
  </div>
  
  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_select :data_nasc, {order: [:day, :month, :year]}, id: :paciente_data_nasc %>
  </div>
  
  <div class="field">
    <%= form.label :RG %>
    <%= form.text_field :rg, id: :paciente_rg %>
  </div>
  
  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :paciente_cpf %>
  </div>
  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :paciente_telefone, placeholder:"(00)(0)0000-0000" %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :paciente_email, placeholder:"example@example.com"%>
  </div>
  <div class="field">
    <%= form.label :senha %>
    <%= form.password_field :password, id: :paciente_password %>
  </div>
  <div class="field">
    <%= form.label :confirmação_de_senha %>
    <%= form.password_field :password_confirmation, id: :paciente_passwordconfirmation %>
  </div>
  
</div>
<div class="col-md-4">
  <div class="field">
      <%= form.label :CEP %>
      <%= form.text_field :cep, id: :cep, onblur: "pesquisacep(this.value)", placeholder:"00.000-000" %>
  </div>
  <div class="field">
    <%= form.label :endereço %>
    <%= form.text_field :endereco, id: :paciente_endereco %>
  </div>

  <div class="field">
      <%= form.label :bairro %>
      <%= form.text_field :bairro, id: :paciente_bairro %>
  </div>
   
  
</div>
<div class="col-md-4">
  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero, id: :paciente_numero %>
  </div>
  <div class="field">
      <%= form.label :cidade %>
      <%= form.text_field :cidade, id: :paciente_cidade %>
  </div>
  <div class="field">
      <%= form.label :estado %>
      <%= form.text_field :estado, id: :paciente_estado %>
  </div>
  
  <div class="actions cadastro_paciente center">
    <input type="submit" value="Confirmar" class= "btn btn-info center"> </input>
  </div>
</div>
<% end %>
