<%= form_for(@atendimento) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div class="col-md-5">
    <%= f.label :sintomas, "Sintomas" %>
    <%= f.text_area :sintomas, placeholder: "Descreva os sintomas" %>
    <%= f.label :situacao, "Situação:" %>
    <%= f.select :situacao, ['Muito Urgente', 'Urgente', 'Média'] %>
    <br>
    <br>
    <%= f.label :hospital, "Hospital" %>
    <%= collection_select(:hospital, :nome, Hospital.all, :id, :nome)%>
    <br>
    <br>
    <%= f.label :tipoAtendimento, "Tipo Atendimento" %>
    <%= f.select :tipoAtendimento, ['Próprio', 'Outra pessoa'] %>
    <br>
    <br>
    <%= f.label :tempoCheg, "Chegará às:" %>
    <%= f.time_select :tempoCheg %>
    <br>
    <br>
    <%= f.submit "Solicitar", class: "btn btn-primary" %>
    </div>
  
  
  </div>
<% end %>