<%= form_for(@atendimento) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :situacao, placeholder: "Situação" %>
    <%= f.text_field :sintomas, placeholder: "Sintomas" %>
    <%= f.label :tempoCheg %>
    <%= f.time_select :tempoCheg %>
    <%= f.text_field :tipoAtendimento, placeholder: "Tipo de atendimento" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>