<h1><%= current_hospital.nome %></h1>
<p> Aqui estão as informações da sua conta, você pode editá-las na aba de Configurações:</p>
<p> Email: <%= current_hospital.email %></p>
<p> Endereço: <%= current_hospital.endereco %>, <%= current_hospital.numero %> - <%= current_hospital.bairro %> | <%= current_hospital.cidade %> - <%= current_hospital.estado %></p>
<p> CNJP: <%= current_hospital.cnpj %></p>