<h1 class="title">Login Hospital</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:sessionhospital, url: loginhospital_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <div class="center">
      <%= f.submit "Entrar", class: "btn btn-primary center" %>
      </div>
    <% end %>
    <br>
    <p>Seu hospital ainda não é cadastrado? <a class="link-interno" href='/hospitals/new'>Cadastre agora!</a> 
</div>