<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4">
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :hospital_nome %>
  </div>
  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj, id: :hospital_cnpj %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :hospital_telefone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :hospital_email %>
  </div>

  <div class="field">
    <%= form.label :senha %>
    <%= form.password_field :senha, id: :hospital_senha %>
  </div>
  </div>
  <div class="col-md-4">
    <div class="field">
      <%= form.label :cep %>
      <%= form.text_field :cep, id: :cep, onblur: "pesquisacephospital(this.value)", placeholder:"00000000"  %>
    </div>
    <div class="field">
      <%= form.label :endereco %>
      <%= form.text_field :endereco, id: :hospital_endereco %>
    </div>
    <div class="field">
      <%= form.label :cidade %>
      <%= form.text_field :cidade, id: :hospital_cidade %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field">
      <%= form.label :numero %>
      <%= form.text_field :numero, id: :hospital_numero %>
    </div>
    <div class="field">
      <%= form.label :bairro %>
      <%= form.text_field :bairro, id: :hospital_bairro %>
    </div>
    <div class="field">
      <%= form.label :estado %>
      <%= form.text_field :estado, id: :hospital_estado %>
    </div>
    <div class="actions cadastro_paciente center">
    <input type="submit" value="Cadastrar" class= "btn btn-info center"> </input>
    </div>
  </div>
  
<% end %>
